<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter salle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-item>
      <ion-label>Numéro de salle: </ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Ajouter une réunion à cette salle:</ion-label>
      <select name="" id="">
        <option value="1">Réunion des investisseurs</option>
        <option value="1">CA</option>
        <option value="1">Conseil pédagogique</option>
      </select>
    </ion-item>
    <ion-button color="primary">Ajouter salle </ion-button>
  
  
  
  </ion-content>
  
</ion-content>
