<ion-header>
  <ion-toolbar>
    <ion-title>Planifiez une nouvelle réunion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Ordre du jour: </ion-label>
    <ion-input></ion-input>
  </ion-item>
  

  <ion-item>
    <ion-label>Heure de début:</ion-label>
    <ion-datetime displayFormat="D MMM YYYY H:mm" min="2020" max="2100" value="2021-01-01T00:00Z"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Heure de fin:</ion-label>
    <ion-datetime displayFormat="D MMM YYYY H:mm" min="2020" max="2100" value="2021-01-01T00:00Z"></ion-datetime>
  </ion-item>
  <ion-button color="primary">Planifier réunion</ion-button>



</ion-content>
