<ion-content>
  <ion-tabs>
    
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="reunions">
        <ion-icon name="radio-outline"></ion-icon>
        <ion-label>Réunions</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="salle">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Salles</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="employes">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Employés</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="param">
        <ion-icon name="cog-outline"></ion-icon>
        <ion-label>Paramètres</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>  
  <!-- Create meeting button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button onclick="">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<!-- Create meeting button -->

</ion-content>

